#tabTop {
    margin-top: 10px;
}

.input-field {
    margin-top: 0px;
}

#photoInput {
    display: none;
}

.additionalBottomMargin {
    margin-bottom: 10px;
}

.historyDeleteIcon {
    position: relative;
    left: -25px;
}
