#tabTop {
    margin-top: 10px;
}

.input-field {
    margin-top: 0px;
}

#photoInput {
    display: none;
}

.additionalBottomMargin {
    margin-bottom: 10px;
}

.historyDeleteIcon {
    position: relative;
    left: -25px;
}

.fixed-action-btn-left {
    position: fixed;
    left: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.hidden {
    display: none;
}

iframe.activator{
    min-height: 400px;
}


@media screen and (max-width: 600px) and (orientation: portrait){
    #photoCanvas{
        width: 100%;
    }
}
